[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.2"
psycopg2 = "*"
djangorestframework = "*"
django-allauth = "*"
django-rest-auth = "*"
drf-nested-routers = "*"
django-cors-headers = "*"
requests = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.8"
